@use  "../base/variables.scss" as *;

.customers{
    padding: 90px 0 100px;
	background-color: $light;
    &__wrapper{
        margin-top: 53px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        @media screen and (max-width: 768px){
            margin-top: 40px;
        }
    }
    &__item{
        width: calc((100% - 90px) / 4);
        img{
            box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.25);
        }
    }
}